<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a2d0639a4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="styles.css">
    <title>JDP Social Media Home Page</title>
</head>
<body>

<header>
    <h1>Mental Health Fourm Home Page</h1>
    <h2>You are logged in as: <%= name %> </h2>
    <a href="/auth/logout"><button class="logout-button">Logout</button></a>
    <a href="/home/postPage"><button>Add Post</button></a>    
</header>

<!-- comment below if want post option on home page -->

<!-- <h2>Add a post, how are you feeling today?</h2>
<form action="/home/addPost" method="POST">
    <input type="text" name="postItem" placeholder="add a post to the app">
    <input type="submit" value="Add Post">
</form> -->

<% for(let i = 0; i < post.length; i++){ %>
    <section class="post-section" data-id='<%= post[i]._id %>'>
    <h3><%= post[i].displayName %></h3>
    <p><%= post[i].postContent %> </p>
    <p class="likes">like Post <i class="fa-solid fa-heart"></i></p>
    <p>likes: <%= post[i].likes %> </p>
    <br>
    <p class="delete-button">Delete Post<i class="fa-solid fa-dumpster delete-button"></i></p>
    <br>
    <p class="timestamp"><%= post[i].createdAt %></p>
    </section>
<% } %>

    
</body>

<script src="../main.js" defer></script>
</html>